body{
  background-color: aqua;
}

/* .footer{
  display: flex;
  justify-content: center, flex-end, space-evenly;
} */
/************Profile Card******************/
.card {
  display: flex;
  flex-direction: column;
  background-color:#0d1117;
  border-color:#30363d;
  border-radius:0;
  color:#c9d1d9 ;
  padding-left: .5rem;
}
.card > img {
  border-radius: 50%;
  
}

.btn {
  background-color: #21262d;
  border-color: rgb(240, 246, 252, 0.1);
  padding: 5px 16px;
}

/* Packages container CSS */
/* #profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
}


#packages-container{
  display:flex;
  flex-wrap: wrap;
  align-content: right;
  justify-content:right;
  align-content: center;
  
} */
