body{
  background-color: aqua;
  box-sizing: border-box;
}
/* .footer{
  display: flex;
  justify-content: center, flex-end, space-evenly;
} */
/************Profile Card******************/
.card {
  background-color:#0d1117;
  border-color:#30363d;
  border-radius:0;
  color:#c9d1d9 ;
  padding-left: .5rem;
}
.card > img {
  border-radius: 50%;
  
}
.btn {
  background-color: #21262d;
  border-color: rgb(240, 246, 252, 0.1);
  padding: 5px 16px;
}
#navbar {
height:auto;
width: fit-content;
}

.repo-card {
  display: flex;
  flex-direction: column;
  background-color:#0d1117;
  border-color:#30363d;
  border-radius: 6px;
  color: #c9d1d9;
  padding: 16px;
  width: 400px;
} 
 .repo-details {
  display: inline-flex;
  justify-content: space-between;
}
.lang-dot {
    position: relative;
    top: 1px;
    display: inline-block;
    width: 12px;
    height: 12px;
    border: 1px solid;
    border-radius: 50%;
    background-color: orange;
} 
/* Packages container CSS */
/* #profile{
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-content: center;
}


#packages-container{
  display:flex;
  flex-wrap: wrap;
  align-content: right;
  justify-content:right;
  align-content: center;
  
} */
